
.div{
    background: url(../../../img/tela.png) 0 0/100% 100% no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    order: 2;
    //border: solid 3px red;
    height: 95%;
    width: 95%;
}
.col-1, .col-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.square{
    display: flex;
    border: solid 3px Black;
    width: 10em;
    height: 10em;
    justify-content: center;
    align-items: flex-end;

}

.perfil{
    background: url(../../../img/user.png) 0 0/70% 70% no-repeat;
}

.cardp{
    background: url(../../../img/icone.png) 0 0/70% 70% no-repeat;
}
