<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Registro de Usuário</h2>
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="nome" name="txNome" placeholder="Digite seu nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">E-mail</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="txEmail" placeholder="Digite o nome da E-mail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="senha" name="txSenha" placeholder="Senha de 6 dígitos"></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button (click)="registrar()" expand="block">Criar registro</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
